@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
:root{
--bg-balck-900: #f2f2fc;
 --bg-balck-100: #fdf9ff;
  --bg-balck-50: #e8dfec;
   --text-balck-900:#302e4d;
    --text-balck-700:#504e70;
}

body{
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;

}
*
{
  margin:0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,::after
{

  box-sizing: border-box;
}
ul
{
    list-style: none;
}
.section{
  background: var(--bg-balck-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;

}
.main-content{
  padding-left: 270px;
}
.hidden{
  display: none !important;
}
.padd-15{
  padding-left: 15px;
  padding-right: 15px;
}
.container{
  max-width:1100px;
  width: 100%;
  margin: auto;
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position:relative;

}


/* aside */
.aside{
  position: fixed;
  width: 270px;
  background: var(--bg-balck-100);
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}
.aside .logo{
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a{
  color: var(--text-balck-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span{
  font-family: 'clicker script' ,cursive;
font-family: 0px;
}
.aside .logo a::before
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid red;
  border-left: 5px solid red;
  bottom: 0;
  left: 0;
}
.aside .logo a::after
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid red;
  border-right: 5px solid red;
  top: 0;
  right: 0;
}
.aside .nav-toggler{
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-balck-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-balck-100);
  display: none;
  justify-content: center;
  align-items: center;

}
.aside .nav-toggler span{
  height: 2px;
  width:18px;
  background: red;
display: inline-block;
position: relative;

}
.aside .nav-toggler span::before{
  content: '';
  width: 18px;
  height: 2px;
background: red;
position: absolute;
  top: -6px;
  left: 0;

}
.aside .nav-toggler span::after{
  content: '';
  width: 18px;
  height: 2px;
background: red;
position: absolute;
  bottom: -6px;
  right: 0;

}
.aside .nav li{
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a{
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-balck-900);
  color: var(--text-balck-900);
  padding: 5px 15px;

}
/* home */
.home .cha-img img{
  height: 400px;

}
.home{
  max-height: 100vh;
  display: flex;
  color: var(--text-balck-900);

}
.home .home-info{
  flex: 0 0 60%;
  max-width: 60%;
}
.home .cha-img{
  flex: 0 0 40%;
  max-width: 40%;

  text-align: center;
}
 .hello{
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0;

}
.name{
  font-family:  cursive;
  font-size: 30px;
  font-weight: 700;
  color: red;

}
.myprofession{
  font-size: 30px;
  margin: 15 0;


}
.typing{
color: red;
}
p{
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-balck-700);
  margin-top: 20px;
}
.btn{
  font-size: 16px;
  font-weight: 500px;
  padding: 12px 35px;
  color: white;
  background-color: red;
  display: inline-block;
  border-radius: 60px;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.05);
}
.cha-img::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid red;
  border-right:  10px solid red;
  right: -40px;
  bottom: -40px;
}
.cha-img::before{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid red;
  border-left: 10px solid red;
  left: 650px;
  top: -40px;
}
.section .container{
padding-top: 60px;
padding-bottom: 70px;
}
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;

}
.section-title h2{
  font-size: 40px;
  font-weight: 700;
  color: var(--text-balck-900);
  position: relative;
}
.section-title h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: red;
  position: absolute;
  top: 100%;
  left: 0;


}
.section-title h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: red;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;


}
/* about section */
.about .about-content {
   flex: 0 0 100%;
   max-width: 100%;


}
.about .about-content .abt-txt{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .abt-txt h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-balck-900);
}
.web{
  color: red;
}
.personal-info{
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 10px;
}
.skills{
  flex: 0 0 50%;
  max-width: 50%;
}
.info-items{
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 0px;
}
.info-items p{
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-balck-900);
  border-bottom: 1px solid var(--bg-balck-50);

}
.buttons{
  margin-top: 15px;
}
.buttons .btn{
  margin-right: 100px;
  margin-top: 10px;

}
.skill-item{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;

}
.skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-balck-900);
  text-transform: capitalize;

}
.skill-item .progress{
background-color: var(--bg-balck-50);
height: 7px;
border-radius: 4px;
width: 100%;
position: relative;
}
.progress-in
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: red;
}
.skill-percent{
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400px;
  line-height: 40px;
}
/* service*/
.service-item{
  flex: 0 0 33.3%;
  max-width: 33.3%;
  margin-bottom: 30px;
}
.service-item-inner{
  background-color: var(--bg-balck-100);
  border: 1px solid var(--bg-balck-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service-item-inner:hover{
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}
.service-item .icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service-item .icon .fa{
  font-size: 40px;
  line-height: 60px;
  color: red;


}
.service-item-inner:hover .icon{
  background: red;

}
.service-item-inner:hover .icon .fa{
  font-size: 25px;
  color: #fff;

}
.service-item-inner h4{
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-balck-900);
  font-weight: 700;
  text-transform: capitalize;

}
.service-item-inner p{
  font-size: 16px;
  color: var(--text-balck-700);
  line-height: 25px;
}
/* portifolio */
.portifolio .container{
  margin-top: 40px;
  padding-bottom: 40px;
}
.port-heading{
  flex: 0 0 100%;
  max-width: 100%;

}
 .port-heading h2{
   color: var(--text-balck-900);
   font-weight: 500;
   margin-bottom: 30px;
 }
 .portifolio-item{
   flex: 0 0 33.33%;
   max-width: 33.33%;
   margin-bottom: 40px;
 }
 .port-item-inner{
   border: 6px solid var(--bg-balck-100);
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
 }
 .port-img img{
   width: 100%;
   display: block;
 }
/* contacts */
.contact .container{
  margin-top: 40px;
}
 .con-title{
   text-align: center;
   color: red;
   font-size:25px;
   margin-bottom: 20px;


 }
 .con-sub-title{
   text-align: center;
   color: var(--text-balck-900);
   margin-bottom: 70px;
   font-size:15px;

 }
 .con-info-item{
   flex: 0 0 25%;
   max-width: 25%;
   text-align: center;
 }
 .contact .con-info-item .icon
 {
display: inline-block;
 }
 .con-info-item .icon .fa{
   font-size: 25px;
   color: red;
 }
 .con-info-item h4{
   font-size: 18px;
   font-weight: 700;
   color: var(--text-balck-900);
   text-transform: capitalize;
   margin: 15px 0 5px;

 }
 .con-info-item p{
   font-size: 16px;
   line-height: 25px;
   color: var(--text-balck-700);
   font-weight: 400;

 }
 .con-form{
   flex: 0 0 100%;
   max-width: 100%;

 }
.con-form .col-6{
  flex: 0 0 50%;
  max-width: 50%;


 }
 .con-form .col-12{
   flex: 0 0 100%;
   max-width: 100%;


 }
  .con-form .form-item{
    margin-bottom: 30px;

  }
   .con-form .form-group .form-control{
     width: 100%;
     height: 50px;
     border-radius: 25px;
     border: 1px solid var(--bg-balck-50);
     padding: 10px 25px;
     font-size: 16px;
     color: var(--text-balck-700);
     transition: all 0.3s ease;

   }
   .con-form .form-group .form-control:focus{
     box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
   }
   .con-form .form-group textarea.form-control{
height: 140px;

   }
   .con-form .btn{
     height: 50px;
     padding: 0 50px;

   }

     .about .about-content .personal-info .info-item p span{
       display: block;
       margin-left: 0;
     }
  
   @media (max-width:991px) {
     .portifolio-item,
     .con-info-item,
     .service .service-item{
       flex: 0 0 50%;
       max-width: 50%;
     }

     .home .home-info{
       flex: 0 0 100%;
       max-width: 100%;
     }

   }
